.App {
  text-align: center;
  background-color:papayawhip;
  height:100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rad{
  border-radius:2px;
  border-width:2px;
  /* border-color:blueviolet; */
  border-style:solid;
  display:inline-block;
  padding-left:20px;
  padding-right:20px;
  margin-left:20px;
  margin-right:20px;
  font-size:24px;
  padding-top:8px;
  padding-bottom:8px;
  
}
.plus{
  font-size:28px;
  background-color:skyblue;
  color:#fff;
  border-width:1px;
  padding-left:10px;
  padding-right:10px;
}

.startBtn{
  border-radius:2px;
  border-width:2px;
  /* border-color:blueviolet; */
  border-style:solid;
  display:inline-block;
  padding-left:25px;
  padding-right:25px;
  font-size:24px;
  padding-top:8px;
  padding-bottom:8px;
  background-color:transparent;

}


.minus{
  font-size:28px;
  background-color:skyblue;
  color:#fff;
  border-width:1px;
  padding-left:10px;
  padding-right:10px;
}
*{
  margin:none;
}