.main-container{
    background-image: linear-gradient(to bottom right,rgb(112, 112, 199),rgb(5, 5, 156));
    /* height: 100vh; */
    height:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.middlebackground-div{
    color: white;
    margin: 20px;
    width: 100%;
    height: 100%;
}
.middlediv{
    /* box-shadow: 10px 10px 5px lightblue;
    color:white;
    margin:50px;
    width:60%;
    max-width:100%;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagedivcontainer{
    width:40%;
    align-self: stretch;
}
.imageimg{
    background-size: cover;
    background-color: blue;
    width: 100%;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.formcontainer{
    background-image: linear-gradient(to bottom,rgb(112, 112, 199),rgb(5, 5, 156));
    /* height:100%; */
    border-bottom-right-radius:9px;
    border-top-right-radius:9px;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: content-box;
}
.registrationformdiv{
    display: flex;
    /* padding-left:10vh;
    height:63vh;
    width:58vh; */
}
.registrationformitems{
    display: flex;
    flex-direction: column;     
}
.inputEle{
    width:100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    outline: none;
    padding:6px;
    margin-bottom: 16px;
}
.input-label {
    display: block;
    margin: 0;
}
::-webkit-input-placeholder{
    color:white;
}
.main-heading{
    padding-bottom:3vh;
}
  
.ptag{
    margin-bottom:4px;
}
.signup-btn{
    margin-top:3vh;
    width:41vh;
    height:6vh;
    background-color:rgba(29, 83, 232, 0.975);
    color:white;
    border-radius:5px;
    border-style:hidden;
    cursor: pointer;
}
.corner-btns{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 20px;
}
.register-btn{
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: rgba(29, 83, 232, 0.975);
    color: white;
    border-width: 1.5px;
    cursor: pointer;
    font-weight: bold;
}
.login-btn{
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    border-width: 1.5px;
    cursor: pointer;
    font-weight: bold;
}
.login-btn:hover,
.register-btn:hover,
.signup-btn:hover{
    background-color:rgba(29, 83, 232, 0.975);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); 
    color:white;
}